@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

/********** Template CSS **********/
:root {
    --primary: #EDB88B;
    --brown: #8D4E16;
    --light: #A9927D;
    --dark: #362C28;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.ftext {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.menu {
    display: none;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.hamburger {
    display: none;
}

.hambmenu {
    display: none;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform:scale(110%, 110%);
}

.card .castrated {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-style: italic;
    text-align: right;
    font-size: 0.8rem;
}

.idopont {
    padding: 1rem 0 1.5rem 0;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}


.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.logo {
    width: 80%;
    height: 80%;
    margin-right: 0.3rem;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: .5s;

}


/* .btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
} */

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar {
    background-color: black;
}

.szoveg {
    color: var(--light);
}

.logoszoveg {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    margin-top: 0.8rem !important;
    font-weight: 400;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.text-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--light);
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.text-light .navbar-nav .nav-link:hover {
    color: var(--light);
}

.forditott {
    background-color: black;
    color: #A9927D;
    margin: none !important;
}

.vertical-center {
    display: flex !important;
    align-items: center;
}

@media (max-width: 992px) {
    .text-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .text-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.text-light .navbar-brand,
.text-light a.btn {
    height: 75px;
}

.text-light .navbar-nav .nav-link {
    color: var(--ligth);
    font-weight: 500;
}

.text-light.sticky-top {
    top: -100px;
    transition: .5s;
}

.dropdown-item {
    color: white !important;
}

@media (min-width: 993px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        background-color: black;
        color: white;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
        color: black;
    }
}



/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}




/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

.error {
    color: red;
    font-weight: 700;
}
/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}

.service-item p {
    color: var(--dark);
}

/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

/* animals */
.animals {
  
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    min-height: 350px;
}

@media (max-width: 1450px) {
    .animals {
        margin-left: calc(2rem + 245px);
    }
}

@media (max-width: 1193px) {
    .animals {
        margin-left: calc(2rem + 245px);
        max-width: 70vw;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    .animals {
        max-width: 70vw;
        margin-left: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
  }

.animalimage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.animalname {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    font-weight: bold;
    text-decoration: overline;
}

.animalage {
    position: absolute;
    bottom: 4rem;
    right: 1rem;
    text-align: right;
}

.animalsex {
    position: absolute;
    bottom: 2.7rem;
    left: 1rem;
    font-style: italic;
}

@media (max-width: 992px) {
    .animals {
        display: grid;
        width: 100%;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
    }
    
    .animalimage {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .animalname {
        position: absolute;
        /* bottom: 1rem; */
        left: 1rem;
        font-weight: bold;
        text-decoration: overline;
    }
    
    .animalsex {
        position: absolute;
        /* bottom: 0rem; */
        left: 1rem;
        font-style: italic;
    }    
    .hamburger {
        display: flex;
        position:absolute;
        right: 1.5rem;
        top: 0.5rem;
        font-size: 2rem;
    }

    .szoveg {
        font-size: 1.7rem;
    }
    

    .logo {
        width: 40px;
        height: 40px;
    }
    
   
    #hambmenu {
        padding: 1rem;
    }
    .menu-item {
        line-height: 1.8rem;
    }

    .login {
        background-color: #A9927D;
        color: #8D4E16;
        width: 100%;
        padding: 0.7rem;
    }

    .loggeduser {
        color: #8D4E16;
        text-align: center;
        font-weight: 700;
        margin: 10px 0 20px;
        width: 100%;
        line-height: 0.1rem;
        border-bottom: 1px solid #8D4E16;
    }
    
    .loggeduser span {
        padding:0 10px; 
        background-color: #EEEEEE;
    }

    .hambmenu {
        display: flex;
        flex-direction: column;
        background-color: #EEEEEE;
        z-index: 10;
        font-size: 1rem;
        text-align: right;
        position: absolute;
        top: 80px; 
        right: 10px;
        width: 80%;
        height: auto;
    }
    
}

@media (max-width: 992px) {
    .animals {
        width: 100%;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
    }

    .card {
        background-color: white;
        border: 1px solid grey;
        cursor: pointer;
      }

}

@media (max-width: 800px) {
    .animals {
        width: 100%;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }
}



@media (max-width: 512px) {
    .animals {
        width: 100%;
        gap: 0.3rem;
        max-width: 450px;
        margin-left:auto;
        margin-right:auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }

    .card {
        width: 100%;
        height: 250px;
        background-color: white;
        border: 1px solid grey;
        cursor: pointer;
      }

}
/* animals */


@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/

.footer {
    padding-bottom: 50px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.bg-image {
    background-image: url('../img/footer.jpg') ;
    width: 100%;
    object-fit: scale-down;
    background-position: center bottom;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    color: white;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer-links a {
    color: white;
}

.topmargin {
    scroll-margin-top: 110px;
}


/*idopont*/

.banner3 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    max-height: 800px;
  }
  
  .banner3 .banner {
    position: center;
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: table;
  }
  
  .banner3 h1,
  .banner3 h2,
  .banner3 h3,
  .banner3 h4,
  .banner3 h5,
  .banner3 h6 {
    color: #3e4555;
  }
  
  .banner3 .font-weight-medium {
    font-weight: 500;
  }
  
  .banner3 .subtitle {
    color: #8d97ad;
    line-height: 24px;
  }
  
  .banner3 .btn-danger-gradiant {
    background: #8D4E16;
    border: 0px;
  }
  
  .banner3 .btn-danger-gradiant:hover {
    background: #362C28;
  }
  
  .banner3 .btn-danger-gradiant.active,
  .banner3 .btn-danger-gradiant:active,
  .banner3 .btn-danger-gradiant:focus {
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
    opacity: 1;
  }
  
  
  .banner3 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
  }
  
  .banner3 .form-row {
    margin: 0;
  }
  
  .banner3 label.font-12 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .banner3 .form-control {
    color: #8d97ad;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  
  .banner3 .date label {
    cursor: pointer;
    margin: 0;
  }
  
  @media (max-width: 370px) {
    .banner3 .left,
    .banner3 .right {
      padding: 25px;
    }
  }
  
  @media (max-width: 320px) {
    banner3 .left,
  .banner3 .right {
    padding: 25px 15px;
  }
}

.banner3 .font-14 {
  font-size: 14px;
}

.banner3 .text-inverse {
  color: #3e4555 !important;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.form-spacing {
    margin-top: 0.8rem;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-check:focus, .btn-primary:focus {
  background-color: rgb(169, 146, 125);   
}

.menutext {
    text-transform: uppercase;
}

.centertext {
    text-align: center;
}

.regsuccess {
    background-color: green;
    color: white;
    font-weight: 700;
    padding: 0.7rem;
}

.filter {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin-left: 2rem;
    background-color: #A9927D;
    color: white;
    padding: 0.5rem;
}

.filter .heading {
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
}

.filter .params {
    padding: 1rem;
}   

.filterline {
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
    margin: 0.5rem 0;
}

.filterline label {
    text-align: left;
    margin-right: 1rem;
}

.filter .btn {
    margin-top: 0.5rem;
}

.filterbutton {
    position: fixed;
    display: none;
}

@media (max-width: 992px) {
    .filter {
        display: none;
        z-index: 100;
        position:absolute;
        margin-left: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .filterbutton {
        display: block;
        right:10px;
        top: 215px;
    }
}
.fiktiv {
    width: 100%;
    padding: 1rem 2rem 2rem 0;
    background-color: bisque;
    margin-top: 2rem;
}

.bank {
    font-weight: bold;
    font-size: 1.1rem;
    color: blue;
}

.onlineevent {
    position:absolute;
    top: 1rem;
    right: 1rem;

}

#regcontainer {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 99;
}

#reg {
    display: none;
    flex-direction: column;
    position: fixed;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 430px;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--brown);
    padding: 1rem;
}

#regparam {
    font-weight: bold;
}

.regtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: var(--primary);
    margin-bottom: 1rem;
}

#reg * {
    z-index: 101;
}

#regbuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#regbuttons button {
    margin-top: 1rem;
    min-width: 100px;
}

.show {
    display:block;
}

.hide {
    display: none;
}

.whitetext {
    color: white;
}